NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPERADMIN_EMAIL=laiolindowow10@gmail.com
SUPABASE_SERVICE_ROLE_KEY=
SUPERADMIN_EMAIL=laiolindowow10@gmail.com
SUPERADMIN_PASSWORD=654321
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:suporte@mepague.app
CRON_SECRET=
