NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPERADMIN_EMAIL=superadm@mepague.app
SUPABASE_SERVICE_ROLE_KEY=
SUPERADMIN_EMAIL=superadm@mepague.app
SUPERADMIN_PASSWORD=654321
